$list-group-font:#bc7b00;
$list-group-background:#f4cd86;

$main-color:#e18d51;
$main-color-opacity:#e18d5185;
$light-gray:#dddddd;
$dark-gray:#7e7e7e;
$medium-gray:#b9b9b9;
$red:#e54545;
$black:#747474;

$media-extra-small:576px;
$media-small:577px;
$media-medium:768px;
$media-extra-extra-large:1401px;
$media-extra-large:1400px;
$media-large:1200px;

$home-sel-padding: 4% 12%;
